<!DOCTYPE html>
<html lang="en">

<head>
	<title>Stand-up comedy open mics - Twin Cities (Minneapolis/St Paul).
	</title>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, 
			initial-scale=1" />
	<meta name="description" content="Stand up comedy open mics in the Twin cities.">
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108586876-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-108586876-1');
	</script>
	<style>
		.container-fluid {
			padding: 2em;
			margin-bottom: 10em;
		}
	</style>
</head>

<body lang="en">
	<div class="container-fluid">
		<h1>Stand-up Comedy Open mics in the Twin Cities.</h1>
		<p class="lead">
			To add a new mic or make changes to this page,
			fork this <a href="https://github.com/senthilrajasek/twin-cities-standup-open-mics"> repo </a>
			and submit a pull request.
		</p>
		<p>
			<small>
				This github <a href="https://help.github.com/articles/creating-a-pull-request-from-a-fork/">help</a> page tells you
				everything you need to know about
				creating forks and submitting a pull request.
			</small>
		</p>
		<p>
			There is a spreadsheet of non open mic gigs. please contact them directly for add/remove requests. contact info
			should be in the sheet.
			<a href="https://docs.google.com/spreadsheets/d/1CjE_SjglmgoZ6He0ZyvU63ETccQeNODvfDQcEbLXLkw/edit#gid=0">
				https://docs.google.com/spreadsheets/d/1CjE_SjglmgoZ6He0ZyvU63ETccQeNODvfDQcEbLXLkw/edit#gid=0</a>
		</p>

		<p>Last List Update: 7/18/18</p>
		<div id="app">
			<div v-for="day in days">
				<h2>{{day}}</h2>
				<ul>
					<li v-for="venue in venue_lookup(day)">
						{{venue.name}}
						<ul>
							<li>Venue: <a v-bind="{href:venue.url}">{{venue.venue}}</a></li>
							<li>Showtime: {{venue.showtime}}</li>
							<li v-if="typeof(venue.booker) == 'object' && venue.booker.length=='undefined'">Booker: <a v-bind="{href:venue.booker.url}">{{venue.booker.name}}</a></li>
							<li v-if="typeof(venue.booker) == 'object' && venue.booker.length==2">
								Booker:
								<a v-bind="{href:venue.booker[0].url}">{{venue.booker[0].name}}</a> and
								<a v-bind="{href:venue.booker[1].url}">{{venue.booker[1].name}}</a>
							</li>
							<li v-html="'Notes: ' + venue.notes"></li>

						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div> <!-- container-fluid -->
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				days: [
					"Monday",
					"Tuesday",
					"Wednesday",
					"Thursday",
					"Friday",
					"Saturday",
					"Sunday",
				],
				venues: [{
					"name": "",
					"venue": "",
					"url": "",
					"booker": {
						"name": "",
						"url": ""
					},
					"days": {
						"sunday": null,
						"monday": null,
						"tuesday": null,
						"wednesday": null,
						"thursday": null,
						"friday": null,
						"saturday": null
					},
					"notes": ""
				}]
			},
			methods: {
				venue_lookup: function (day) {
					return this.venues.filter(function (v) {
						day = day.toLowerCase();
						v.showtime = v.days[day];
						return v.days[day]
					})
				}
			}
		})
		$.getJSON("data.json", function (data) {
			app.venues = data;
		});
	</script>
</body>

</html>