<!DOCTYPE html>
<html lang="en">
<head>
	<title>Stand-up comedy open mics - Twin Cities (Minneapolis/St Paul).
	</title>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, 
			initial-scale=1" />
	<meta name="description" content="Stand up comedy open mics in the Twin cities.">
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
	<script type="text/javascript" src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K2FNVJMJ6Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K2FNVJMJ6Z');
</script>
</head>
<body lang="en">
<div class="container">
	<div class="main mb-6">
		<div class="bg-info text-white text-center p-2 mb-2">
			<h1> OPENMY.CC <small>(pronounced "open mic")</small></h1>
		<h4> A list of comedy open mics. </h4>
		</div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq" type="button" role="tab" aria-controls="faq" aria-selected="false">FAQs</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="gm-tab" data-bs-toggle="tab" data-bs-target="#gm" type="button" role="tab" aria-controls="gm" aria-selected="false">Duluth/St.Cloud/Mankato Mics</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p class="font-italic" style="padding-top: 1em;">(Updated on: 03/29/2025)</p>
		<div id="app">
			<div v-for="day in days">
				<h2>{{day}}s</h2>
				<p v-if="no_mic_day( day)"> Sorry no mics today &#x1F641;.</p>
				<ul>
					<li v-for="venue in venue_lookup(day)">
						{{venue.name}}
						<ul>
							<li>Venue: <a v-bind="{href:venue.url}">{{venue.venue}}</a></li>
							<li>Showtime: {{venue.showtime}}</li>
							<li v-if="typeof(venue.booker) == 'object' && venue.booker.length==2">
								Booker:
								<a v-bind="{href:venue.booker[0].url}">{{venue.booker[0].name}}</a> and
								<a v-bind="{href:venue.booker[1].url}">{{venue.booker[1].name}}</a>
							</li>
							<li v-else-if="typeof(venue.booker) == 'object' && venue.booker.length==3">
								Booker:
								<a v-bind="{href:venue.booker[0].url}">{{venue.booker[0].name}} , </a>
								<a v-bind="{href:venue.booker[1].url}">{{venue.booker[1].name}} , </a>
								<a v-bind="{href:venue.booker[2].url}">{{venue.booker[2].name}}</a>
							</li>
							<li v-else-if="venue.booker">Booker: <a v-bind="{href:venue.booker.url}">{{venue.booker.name}}</a></li>
							<li v-if="typeof( venue.address) != undefined">Address: {{ venue.address }} </li>
							<li v-html="'Notes: ' + venue.notes"></li>

						</ul>
					</li>
				</ul>
			</div> 
		</div> 
			</div> 
		
<div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab"> 
	<div class="container pt-4">
		<div class="col-md-12">
			<ol>
				<li>
					How do I say openmy.cc ?
					Just say "open mic", mic is spelled "mycc". 
				</li>
				<li>
					How do I add a new mic?
					To add a new mic or make changes to this page,
					fork this <a href="https://github.com/senthilrajasek/twin-cities-standup-open-mics"> repo </a>
					and submit a pull request.
					<p>
					<small>
						This github <a href="https://help.github.com/articles/creating-a-pull-request-from-a-fork/">help</a> page tells you
						everything you need to know about
						creating forks and submitting a pull request.
					</small>
					</p>
					<p> Alternately, you could send an email with the details of your new mic to <a href="mailto:info@openmy.cc" target="_blank">info@openmy.cc</a> to get added. Include the following details about the mic in your mail: 
					<ul>
						<li>Name</li>
						<li>Venue</li> 
						<li>Venue Address</li>
						<li>Day and Time</li>
						<li>Url</li>
						<li>Booker(s)</li> 
						<li>Sign up details</li>
						<li>any other notes you may want to include</li>
					</ul>
					</p>
				</li>
				<li>
					Where can I get info on non open mic gigs in/around the twin cities?
					There is a spreadsheet of non open mic gigs. please contact them directly for add/remove requests. contact info
					should be in the sheet.
					<a href="https://docs.google.com/spreadsheets/d/1CjE_SjglmgoZ6He0ZyvU63ETccQeNODvfDQcEbLXLkw/edit#gid=0">
						https://docs.google.com/spreadsheets/d/1CjE_SjglmgoZ6He0ZyvU63ETccQeNODvfDQcEbLXLkw/edit#gid=0</a>
				</li>
			</ol>
		</div> 
	</div> 
</div> 

<div class="tab-pane fade" id="gm" role="tabpanel" aria-labelledby="gm-tab"> 
    <div class="container pt-4">
        <p> Stand up Comedy Open Mics in other Minnesota cities (Rochester, Duluth, Mankato, Winona) goes here... </p>
    </div>
</div> 
        </div> 
		<div id="footer-links">
			<h4>Links</h4>
			<nav class="nav flex-column">
				<a class="nav-link active" aria-current="page" href="/">Home</a>
				<a class="nav-link" href="/venues/mn/minneapolis.html">Minneapolis Comedy Clubs/Venues</a>
			  </nav>
		</div><!-- footer links -->
    </div>  <!-- main -->
</div> <!-- container -->
	<script>
		var appComponent = {
			el: '#app',
			data() { 
				return {
				days: [
					"Sunday",
					"Monday",
					"Tuesday",
					"Wednesday",
					"Thursday",
					"Friday",
					"Saturday"
				],
				venues: [{
					"name": "",
					"venue": "",
					"url": "",
					"booker": [{
						"name": "",
						"url": ""
					}],
					"days": {
						"sunday": null,
						"monday": null,
						"tuesday": null,
						"wednesday": null,
						"thursday": null,
						"friday": null,
						"saturday": null
					},
					"address": "",
					"notes": ""
				}],
			};
			},
			methods: {
				rotate_days: function ( ) {
					let tday = new Date();
					let dayNum = tday.getDay();

					this.days.push.apply( this.days, this.days.splice(0, dayNum));
				},
				venue_lookup: function (day, city = 'minneapolis', status = 'active') {
				var isTwincities = function ( city){
					var cities = [ 'minneapolis', 'st.paul', 
                        'hopkins', 'anoka'];
					return cities.includes( city.toLowerCase());
				};
					if( this.venues === null) {
						return null;
					}
					let result = this.venues.filter(function (v) {
						day = day.toLowerCase();
						if (v.city == null) {
							v.city = 'minneapolis';
					}
						if ( v.status == null) {
							v.status = 'active';
						}
						return v.days[day] && isTwincities( v.city) && v.status == 'active' ;
					});
					if( result != null && Array.isArray( result) && result.length != 0) {
						result.map( function( v) {
							v.showtime = v.days[day];
						});
					}
					return result;
				},
				no_mic_day: function ( day) {
					let venues = this.venue_lookup( day);
					return venues == null || (Array.isArray( venues) && venues.length == 0);
				}
			},
			beforeCreate() {
				
				
				
				let self = this;
				axios
				.get( "data.json")
					.then( function( response) {
						
						self.venues = response.data;
					});
				
			}
		}; 
const app = Vue.createApp( appComponent);
const vm = app.mount( '#app');
vm.rotate_days();
	</script>
</body>

</html>
